<table border="1">
<thead>
  <th>Short Name</th>
  <th>Name</th>
  <th>Description</th>
  <th>Small Price</th>
  <th>Large Price</th>
  <th>Small Portion Name<th>
  <th>Large Portion Name<th>
  <th></th>
</thead>
<tr ng-repeat="item in items">
  <td>{{item.short_name}}</td>
  <td>{{item.name}}</td>
  <td>{{item.description}}</td>
  <td>{{item.price_small}}</td>
  <td>{{item.price_large}}</td>
  <td>{{item.small_portion_name}}</td>
  <td>{{item.large_portion_name}}</td>
  <td><button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
</tr>
</table>
