<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrowCtrl">
      <div class="row">
        <h1>Narrow Down Your Chinese Menu Choice</h1>

        <div class="form-group">
          <input type="text" placeholder="Search term (e.g. tofu)" ng-model="narrowCtrl.searchTerm" class="form-control">
        </div>
        <div class="form-group narrow-button">
          <button class="btn btn-primary" ng-click="narrowCtrl.getMatchedMenuItems(narrowCtrl.searchTerm)">Narrow It Down For Me!</button>
        </div>
      </div>

      <div class="row">
        <!-- found-items should be implemented as a component -->
        <div ng-if="narrowCtrl.found.length == 0" >Nothing found.</div>
        <div  ng-if="narrowCtrl.found.length > 0" >
          <found-items items="narrowCtrl.found" on-remove="narrowCtrl.removeItem(index)"></found-items>
        </div>
      </div>
    </div>
</body>
</html>
