<div class="container">
  <h2 id="signup-title" class="text-center">Sign Up</h2>
  <div class="row">

    <fieldset>
      <form name='regForm' novalidate>
        <div class="form-group">
          <label class="control-label" for="firstName">First name *</label>
          <input type="text" class="form-control form-validate-field" name="firstname" placeholder="Enter first name"
            ng-model="reg.user.firstname"
            required>
            <span
              ng-if="(regForm.firstname.$error.required) && (regForm.firstname.$touched || regForm.$submitted)">
              Please supply first name
            </span>
            <br>
        </div>
        <div class="form-group">
          <label class="control-label" for="lastname">Last name *</label>
          <input type="text" class="form-control form-validate-field" name="lastname" placeholder="Enter last name"
            ng-model="reg.user.lastname"
            required>
            <span
              ng-if="(regForm.lastname.$error.required) && (regForm.lastname.$touched || regForm.$submitted)">
              Please supply last name
            </span>
            <br>
        </div>
        <div class="form-group">
          <label class="control-label" for="email">Email Address *</label>
          <input type="email" class="form-control form-validate-field" name="email" placeholder="Email"
            ng-model="reg.user.email"
            required>
            <span ng-if="regForm.email.$invalid && (regForm.email.$touched || regForm.$submitted)">
              Must be a valid email address: handle@domain format
            </span>
            <br>
        </div>
        <div class="form-group">

          <label class="control-label" for="phone">Phone Number *</label>
          <input type="text" class="form-control form-validate-field" name="phone" placeholder="Phone ###-###-####"
            ng-model="reg.user.phone"
            pattern="(\d{3})-(\d{3})-(\d{4})"
            required>
            <span ng-if="regForm.phone.$invalid && (regForm.phone.$touched || regForm.$submitted)">
              Phone must be in the format ###-###-####.
            </span>
            <br>

        </div>

        <div class="form-group">
          <label class="control-label" for="favouritedish">Favourite Dish Number *</label>
          <input type="text" class="form-control form-validate-field" name="favouritedish" placeholder="Favourite Dish Number e.g. A1"
            ng-model="reg.user.favouritedish" ng-blur="reg.validateMenuNumber()"
            required>
            <span ng-if="(regForm.favouritedish.$invalid || !reg.validDishNumber) && (regForm.favouritedish.$touched || regForm.$submitted)">
              No such menu item exists
            </span>
            <br>
        </div>

        <button
          class="btn btn-success"
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

      </form>
      <div id="user-saved-message" class="alert alert-success" ng-if="reg.userSaved" >
        Your information has been saved
    </div>
    </fieldset>
  </div>


</div>
